# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dll
*.dll.embed.manifest
*.dll.embed.manifest.res
*.dll.intermediate.manifest
*.dll.resource.txt
*.dylib
*.exe
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.exe.resource.txt
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*.so
*.so.*
*~
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/bucket_engine_testapp
/cmake_install.cmake
/engine_testapp
/gencode
/genconfig
/generated_breakdancer_testsuite.c
/install_manifest.txt
/cbsasladm
/mcbasher
/memcached
/mcstat
/memcached_sizes
/memcached_testapp
/timedrun
