# Keep the entries sorted to reduce the risk for a merge conflict
*.1m
*.[ao]
*.dirstamp
*.exe*
*.ilk*
*.pdb*
*.dll*
*.gcda
*.gcno
*.gcov
*.l[ao]
*.orig
*.pyc
*.tar.gz
*.tcov
*.log
*.trs
*~
.deps/
.DS_Store
.generated_configuration
.generated_stat-info
.genstamp
.libs/
/*_test
/INSTALL
/aclocal.m4
/atomic_test
/autom4te.cache
/config.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/plugin.ac
/config/ar-lib
/config/test-driver
/configure
/docs/doxy
/dtrace/probes.h
/gen_code
/gen_config
/generated_suite_*.c
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/version.m4
/mc-kvstore-test
/sizes
/src/config.h
/src/config.h.in
/src/generated_configuration.*
/src/stamp-h1
/src/stats-info.[ch]
/src/testlogger_libify.cc
/tests/module_tests/*_test
/wrapper/*badm-tap-registration
/wrapper/*bcompact
/wrapper/*bepctl
/wrapper/*bstats
/wrapper/*bvbucketctl
/wrapper/wrapper
Makefile
Makefile.in
TAGS
ep-engine.vcxproj
ep-engine.vcxproj.filters
ep-engine.vcxproj.user
tags
/CMakeFiles/
/CTestTestfile.cmake
/cmake_install.cmake
ep-engine_sizes
ep.so
ep_testsuite.so
generated_testsuite.so
timing_tests.so
Testing/Temporary/CTestCostData.txt
Testing/
ep.dylib
ep_testsuite.dylib
generated_testsuite.dylib
timing_tests.dylib
