# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dirstamp
*.gcda
*.gcno
*.gcov
*.l[ao]
*.tcov
*~
.deps/
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/plugin.ac
/configure
/libtool
/m4/version.m4
/stamp-h1
Makefile
Makefile.in
