# Keep the entries sorted to reduce the risk for a merge conflict
*.1m
*.[ao]
*.dirstamp
*.exe*
*.ilk*
*.pdb*
*.dll*
*.gcda
*.gcno
*.gcov
*.l[ao]
*.orig
*.pyc
*.tar.gz
*.tcov
*.log
*.trs
*~
.deps/
.DS_Store
.generated_configuration
.generated_stat-info
.genstamp
.libs/
/*_test
/INSTALL
/atomic_test
/docs/doxy
/gencode
/genconfig
/dtrace/probes.h
/gen_code
/gen_config
/generated_suite_*.c
/libtool
/mc-kvstore-test
/sizes
/src/config.h
/src/config.h.in
/src/generated_configuration.*
/src/stamp-h1
/src/stats-info.[ch]
/src/testlogger_libify.cc
/tests/module_tests/*_test
/wrapper/*badm-tap-registration
/wrapper/*bcompact
/wrapper/*bepctl
/wrapper/*bstats
/wrapper/*bvbucketctl
Makefile
Makefile.in
TAGS
ep-engine.vcxproj
ep-engine.vcxproj.filters
ep-engine.vcxproj.user
tags
/CMakeFiles/
/CTestTestfile.cmake
/cmake_install.cmake
ep-engine_sizes
ep.so
ep_testsuite.so
generated_testsuite.so
timing_tests.so
Testing/Temporary/CTestCostData.txt
Testing/
ep.dylib
ep_testsuite.dylib
generated_testsuite.dylib
timing_tests.dylib
ep.exp
ep.lib
ep_testsuite.exp
ep_testsuite.lib
timing_tests.exp
timing_tests.lib
