Trond Norbye <trond.norbye@gmail.com> <Trond.Norbye@sun.com>
Trond Norbye <trond.norbye@gmail.com> <Trond.Norbye@gmail.com>
Manik Taneja <mtaneja@zynga.com>      <mtaneja@zynga.com>
Manik Taneja <mtaneja@zynga.com>      <manik.taneja@gmail.com>
Filipe David Manana <fdmanana@apache.org> <fdmanana@gmail.com>
Chiyoung Seo <chiyoung.seo@gmail.com> <chiyoung.seo@gmail.com>
Chiyoung Seo <chiyoung.seo@gmail.com> <chiyoung@northscale.com>
